{% extends 'base.html' %}
{% load static %}
{% block title %}{% if gozleg %}Search results{% else %}Main page{% endif %}{% endblock %}
{% block content %}
{% include 'navbar.html' %}
      <div id="wrapper">
      {% include 'sidebar.html' %}
         <div id="content-wrapper">
            <div class="container-fluid pb-0">
            {% if salam %}
               <div class="video-block section-padding">
                  <div class="row">
                  {% if gozleg%}
                     <div class="col-md-12">
                        <div class="main-title">
                           <h6 style="">Search results</h6>
                        </div>
                     </div>
                     {% else %}
                     <img style="display: block;  /* Ensure image is displayed as a block-level element */
  margin: 0 auto;" src="{% static 'img/404page.svg' %}" width="500">
                     {% endif %}
                     {% for i in gozleg %}
                     <div class="col-xl-2 col-sm-6 mb-2">
                        <div class="video-card">
                           <div class="video-card-image">
                              <a class="play-icon" href="{% url 'listen' i.property.id i.id %}"><i class="fa fa-music"></i></a>
                              <a><img class="img-fluid" src="{{i.music_image.url}}" style="width:350px" alt=""></a>
                              <div class="time">{{i.duration}}</div>
                           </div>
                           <div class="video-card-body">
                              <div class="video-title1">
                                 <a href="{% url 'listen' i.property.id i.id %}">{{i.title}}</a>
                              </div>
                              <div class="video-title1">
                              <a><i class="fa fa-book"></i>&nbsp;&nbsp;{{i.property.fullname}}</a>
                              </div>
                              <div class="video-view">
                                 <i class="fas fa-calendar-alt"></i> {{i.uploaded_time}}
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
               </div>
               {% else %}
               <div class="top-category section-padding mb-4">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="main-title">
                           <h6 style="color:white">Compositors</h6>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="owl-carousel owl-carousel-category">
                        {% for i in compositor %}
                           <div class="item">
                              <div class="category-item" style="background-color:#171b20">
                                 <a href="{% url 'single' i.id 'musics' %}">
                                    <img class="img-fluid" src="{{i.avatar.url}}" alt="">
                                    <h6 style="color:gold">{{i.fullname}}</h6>
                                 </a>
                              </div>
                           </div>
                        {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>
               <hr>
               <div class="video-block section-padding">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="main-title">
                           <h6 style="color:white">Last uploaded classic musics</h6>
                        </div>
                     </div>
                     {% for i in musics %}
                     <div class="col-xl-2 col-sm-6 mb-2">
                        <div class="video-card">
                           <div class="video-card-image">
                              <a class="play-icon" href="{% url 'listen' i.property.id i.id %}"><i class="fa fa-music"></i></a>
                              <a><img class="img-fluid" src="{{i.music_image.url}}" style="width:350px" alt=""></a>
                              <div class="time">{{i.duration}}</div>
                           </div>
                           <div class="video-card-body">
                              <div class="video-title1">
                                 <a href="{% url 'listen' i.property.id i.id %}">{{i.title}}</a>
                              </div>
                              <div class="video-title1">
                              <a><i class="fa fa-book"></i>&nbsp;&nbsp;{{i.property.fullname}}</a>
                              </div>
                              <div class="video-view"><i class="fas fa-calendar-alt"></i> {{i.uploaded_time}}
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
               </div>
            {% endif %}
            </div>
         </div>
      </div>
{% endblock %}