{% extends 'base.html' %}
{% load static %}
{% block title %}Music :&nbsp;&nbsp;{{music1.title}}{% endblock %}
{% block content %}
{% include 'navbar.html' %}
      <div id="wrapper">
         {% include 'sidebar.html' %}
         <div id="content-wrapper">
            <div class="container-fluid pb-0">
               <div class="video-block section-padding">
                  <div class="row">
                     <div class="col-md-8">
                        <div class="single-video-left">
                           <div class="single-video">
    <div class="container-audio" style="height:20vh">
    <div class="bashla" style="display: none">
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        </div>
    </div>
  <div class="container">
    <audio id="myAudio" loop>
      <source src="{{music1.music.url}}" type="audio/mpeg">
    </audio>
      <div class="bot">
      <div style="margin-left:-10px">
            <img class="channel-profile-img11" alt="" src="{{music1.music_image.url}}">
      </div>
      <div class="info">
         <div class="v-align">
                  <div class="title">{{music1.title}}</div>
         <div class="musician">{{music1.property.fullname}}</div>
      </div>
         <div class="controllers">
            <span class="previous"><i class="fa fa-step-backward"></i></span>
            <span class="play"><i class="fa fa-play" id="1"></i></span>
            <span class="pause"><i class="fa fa-pause"></i></span>
        </div>
      </div>
      </div>
            <div style="color:rgb(136, 121, 46);margin-left:72%;margin-top:-5%;font-size:5vh">{{music1.duration}}</div>
      </div>
                           </div>
                           <div class="single-video-title box mb-3">
                              <h2><a style="color:gold">{{music1.title}}</a></h2>
                           </div>
                           <div class="single-video-author box mb-3">
                              <a href="{% url 'single' single.id 'musics' %}"><img class="img-fluid" src="{{single.avatar.url}}" alt=""></a>
                              <p><a href="{% url 'single' single.id 'musics' %}"><strong style="color:gold">{{single.fullname}}</strong></a><span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"></span></p>
                              <small>Published on {{single.registered_time}}</small>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="single-video-right">
                           <div class="row">
                              <img src="{{music1.melody.url}}" width=370>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /.content-wrapper -->
      </div>
{% endblock %}