{% load static %}
<ul class="sidebar scrollable-container navbar-nav">
<li class="nav-item active">
    <a class="nav-link" href="{% url 'index' %}">
    <i class="fas fa-fw fa-home" style=""></i>
    <span  style="color:white">Home</span>
    </a>
</li>
<li class="nav-item channel-sidebar-list">
    <h6  style="color:white">Compositor list&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;song</h6>
    {% for i in compositor %}
    <ul>
        <li>
            <a href="{% url 'single' i.id 'musics' %}" style="color:white">
            <div class="truncated-text"><img class="img-fluid"  alt="" src="{{i.avatar.url}}"><span class="sd">{{i.fullname}}</span></div> <span class="badge badge-warning" style="margin-top:-22px">{{i.song_count}}</span>
            </a>
        </li>
    </ul>
    {% endfor %}
</li>
</ul>